// ----
// Sass (v4.0.0.alpha.1)
// Compass (vundefined)
// ----

$body-font: 13px 'Open Sans', sans-serif;
$body-color: #333;
$header-height: 60px;
$header-secondary: #212121;
$header-primary: #303030;
$header-hover: #424242;
$center-h: 0 auto;
$logo: 40px 'Monoton', cursive;
$gray: #bbb;
$scrollbar: #999;
$active-link: #FFEB3B;


* {box-sizing: border-box}

body, html {height: 100%}

body {
  line-height: 20px;
  font: $body-font;
  color: $body-color;
}

a {
  background: transparent;
  text-decoration: none;
}

#header {
  line-height: $header-height;
  height: $header-height;
  font-weight: 400;
  box-shadow: 0 1px 3px 0 $header-secondary;
  background: $header-primary;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  position: fixed;
  text-transform: uppercase;
}

#header .wrap {
  position: relative;
  width: 970px;
  margin: $center-h;
}

.menu {
  float: left;
  line-height: $header-height;
  font-size: 13px;
  list-style: none;
}

.menu li {
  display: inline-block;
}

.menu li a {
  padding: 0 20px;
  display: block;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
}

.menu li a:hover {
  background: $header-hover;
}

.menu li a.active {
	color: $active-link;
}

.logo a {
  color: #fff;
  height: $header-height;
  line-height: $header-height;
  margin-right: 30px;
  width: 100px;
  font: $logo;
}

.logo {
  float: left;
}

#footer {
  border-top: 1px solid $gray;
  position: absolute;
  min-height: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 720px;
  margin: 0 auto -1px;
}

#footer .wrap {
  margin: 30px auto;
  line-height: 1.4;
  text-align: center;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
  background: #eee;
}

::-webkit-scrollbar-track {
    border-radius: 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: $scrollbar;
}
