// ----
// Sass (v4.0.0.alpha.1)
// Compass (vundefined)
// ----

$body-font: 13px 'Open Sans', sans-serif;
$body-color: #fff;
$body-bg: #111;
$header-height: 60px;
$header-secondary: #222;
$header-primary: #333;
$header-hover: #444;
$center-h: 0 auto;
$logo: 40px 'Monoton', cursive;
$gray: #bbb;
$scrollbar: #999;
$active-link: #FFEB3B;
$h1: 700 35px 'Open Sans', sans-serif;
$h2: 600 25px 'Open Sans', sans-serif;


* {box-sizing: border-box}

body, html {height: 100%}

body {
  line-height: 20px;
  font: $body-font;
  color: $body-color;
	background: $body-bg;
}

a {
  background: transparent;
  text-decoration: none;
}

#header {
  line-height: $header-height;
  height: $header-height;
  font-weight: 400;
  box-shadow: 0 1px 3px 0 $header-secondary;
  background: $header-primary;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  position: fixed;
  text-transform: uppercase;
}

#header .wrap {
  position: relative;
  width: 970px;
  margin: $center-h;
}

.menu {
  float: left;
  line-height: $header-height;
  font-size: 13px;
  list-style: none;
}

.menu li {
  display: inline-block;
}

.menu li a {
  padding: 0 20px;
  display: block;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
}

.menu li a:hover {
  background: $header-hover;
}

.menu li a.active {
	color: $active-link;
}

.logo a {
  color: #fff;
  height: $header-height;
  line-height: $header-height;
  margin-right: 30px;
  width: 100px;
  font: $logo;
}

.logo {
  float: left;
}

::-webkit-scrollbar {
  width: 10px;
  background: #eee;
}

::-webkit-scrollbar-track {
    border-radius: 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: $scrollbar;
}

/*body*/
#body-wrap {
	max-width: 1200px;
	margin: $center-h;
	position: relative;
	padding: 0 20px;
	background: red;
	margin-top: $header-height;
}

.wide-left {
	padding: 0 20px 100px 0;
	width: calc(100% / 1.5);
	float: left;
	background: red;
}

.wide-left h1 {
	text-align: center;
	padding: 1em 0;
}

h1 {
	line-height: 1.1;
	font: $h1;
	margin-bottom: 10px;
}

.container {
	padding: 20px;
	position: relative;
	background: $header-primary;
	margin: 0 0 20px 0;
	overflow: hidden;
}

h2 {
	font: $h2;
	line-height: 1.2;
	margin-bottom: 10px;
}

.container h2 {
	border-bottom: 3px solid rgba(255,255,255,0.1);
	padding-bottom: 10px;
	position: relative;
}

.container p {
	color: #999;
	margin-bottom: 15px;
}


.contact {
	height: 375px;
}