// ----
// Sass (v4.0.0.alpha.1)
// Compass (vundefined)
// ----

$body-font: 13px 'Open Sans', sans-serif;
$body-color: #333;
$header-height: 60px;
$header-secondary: #7986CB;
$header-primary: #9FA8DA;
$center-h: 0 auto;
$logo: 700 55px 'Quicksand', sans-serif;


* {box-sizing: border-box}

body, html {height: 100%}

body {
  line-height: 20px;
  font: $body-font;
  color: $body-color;
}

a {
  background: transparent;
  text-decoration: none;
}

#header {
  line-height: $header-height;
  height: $header-height;
  font-weight: 400;
  box-shadow: 0px 1px 3px 0px $header-secondary;
  background: $header-primary;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  position: fixed;
  text-transform: uppercase;
}

#header .wrap {
  position: relative;
  width: 970px;
  margin: $center-h;
}

.menu {
  float: left;
  line-height: $header-height;
  font-size: 13px;
  list-style: none;
}

.menu li {
  display: inline-block;
}

.menu li a {
  padding: 0 20px;
  display: block;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
}

.logo a {
  color: #fff;
  height: $header-height;
  float: left;
  margin-right: 30px;
  width: 100px;
  font: $logo;
}

.logo {
  display: block;
}
